<div class="main">
  <div class="front">
    <h1>Stormarketingroup</h1>
    <h3>Felkavarjuk az állóvizet!</h3>
  </div>
  <div class="services">
    <div class="title">
      <h1>Termékeink és szolgáltatásaink</h1>
    </div>

    <!--A div-ekben szerelp dolgokat úgy szerezném kialakításani, hogy maga a .main egy hatalmas div lesz ami fel lesz bontbva gridekkel, benne pedig a szolgáltatások cikk-cakkban fognak megjelenni.-->
    <!--Amikor rámennek az egyes dolgokra, akkor részletesebben is kibontjuk a dolgokat-->
    <!--A legalján pedig -->
    <div class="web-development">Webfejlesztés</div>
    <div class="mobile-development">Mobilfejlesztés</div>
    <div class="desktop-development">Asztali alkalmazás fejlesztés</div>
    <div class="dev-ops">Rendszerüzemeltetés</div>
    <div class="data-analysis">Adatelemzés</div>
    <div class="video-and-photo">Videózás és fényképezés</div>
    <div class="event-organising">Rendezvényszervezés</div>
    <div class="webshop">Online- és offline bolt</div>
  </div>
  <div class="footer">
    Minden jog fenntartva! A weboldal készítője, fejlesztője és üzemeltetője a
    Stormarketingroup Kft.
  </div>
</div>
